apiVersion: v1
kind: Service
metadata:
  name: shift-roaster-shift-roaster
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: shift-roaster
