apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "shift-roaster.fullname" . }}
  labels:
    {{- include "shift-roaster.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "shift-roaster.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "shift-roaster.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PGHOST
              value: {{ include "shift-roaster.fullname" . }}-postgresql
            - name: PGUSER
              value: {{ .Values.postgresql.auth.username }}
            - name: PGPASSWORD
              value: {{ .Values.postgresql.auth.password }}
            - name: PGDATABASE
              value: {{ .Values.postgresql.auth.database }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
