apiVersion: v1
kind: Service
metadata:
  name: {{ include "shift-roaster.fullname" . }}-postgresql
  labels:
    {{- include "shift-roaster.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgresql
  selector:
    {{- include "shift-roaster.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
